* {
	box-sizing: border-box;
}

html {
  	text-align: center;
}

body {
    background-color: #EBE1D1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
}

.container {
	display: flex;
	align-content: center;
    background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 480px;
}

.login_form {
	flex: 1;
	padding: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	line-height: 20px;
	margin: 20px 0 30px;
}

a {
	color: #E9762B;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}

button {
	border-radius: 20px;
	border: 2px solid #E9762B;
	background-color: #41644A;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.photo {
    flex: 1;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}