* {
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: 100vh;
    overflow-x: hidden;
    /*text-align: center;*/
}

header {
    display: flex;
    background-color: #41644A;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: sticky;
    top: 0;
}

header .contents {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header .contents a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}

h1 {
    margin: 20px;
    font-size: 48px;
}

h2 {
    padding-left: 50px;
    color: #E9762B;
}

h3 {
    text-align: center;
}

p {
    padding: 0 60px;
    text-align: center;
}

button {
	border-radius: 20px;
	border: 2px solid #E9762B;
	background-color: #41644A;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}
